In [4]:
import mysql.connector
from pprint import pprint

mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  password="password",
  database="hrdatabase"
)

cursor = mydb.cursor()

# TABLES: 
- employee: employee_id, employee_name, department, hire_date, salary
- department: department_id, department_name
- job: job_id, job_title
- job_history: employee_id, job_id, start_date, end_date

In [5]:
# Question 1: What are the names of all employees?
query = "SELECT DISTINCT employee_name FROM employee"
cursor.execute(query)
result = cursor.fetchall()
print("Q1: What are the names of all employees?")
pprint(result)
print()

Q1: What are the names of all employees?
[('John Smith',),
 ('Jane Doe',),
 ('Bob Johnson',),
 ('Emily Wong',),
 ('Alex Kim',),
 ('Sarah Lee',),
 ('Michael Chen',),
 ('David Lee',),
 ('Amanda Liu',),
 ('Brian Wu',)]

In [6]:
# Question 2: What is the salary of each employee?
query = "SELECT employee_name, salary FROM employee"
cursor.execute(query)
result = cursor.fetchall()
print("Q2: What is the salary of each employee?")
pprint(result)
print()

Q2: What is the salary of each employee?
[('John Smith', 70000),
 ('Jane Doe', 90000),
 ('Bob Johnson', 75000),
 ('Emily Wong', 80000),
 ('Alex Kim', 95000),
 ('Sarah Lee', 85000),
 ('Michael Chen', 90000),
 ('David Lee', 78000),
 ('Amanda Liu', 82000),
 ('Brian Wu', 88000)]

In [7]:
# Question 3: What are the names and hire dates of all employees who were hired after 01/01/2020?
query = "SELECT employee_name, hire_date FROM employee WHERE hire_date > '2020-01-01'"
cursor.execute(query)
result = cursor.fetchall()
print("Q3: What are the names and hire dates of all employees who were hired after 01/01/2020?")
pprint(result)
print()

Q3: What are the names and hire dates of all employees who were hired after 01/01/2020?
[('Bob Johnson', '2020-05-01'),
 ('Alex Kim', '2021-02-15'),
 ('Sarah Lee', '2022-01-01'),
 ('Michael Chen', '2020-06-15'),
 ('Amanda Liu', '2021-03-01')]

In [9]:
# Question 4: What are the names and department of all employees who work in the Marketing department?
query = "SELECT E.employee_name, D.department_name FROM employee E INNER JOIN department D ON E.department_id = D.department_id WHERE D.department_name = 'Marketing'"
cursor.execute(query)
result = cursor.fetchall()
print("Q4: What are the names and department of all employees who work in the Marketing department?")
pprint(result)
print()

Q4: What are the names and department of all employees who work in the Marketing department?
[('Jane Doe', 'Marketing'),
 ('Alex Kim', 'Marketing'),
 ('Sarah Lee', 'Marketing'),
 ('Brian Wu', 'Marketing')]

In [10]:
# Question 5: What are the names and department of all employees who do not work in the Sales department?
query = "SELECT E.employee_name, D.department_name FROM employee E INNER JOIN department D ON E.department_id = D.department_id WHERE D.department_name != 'Sales'"
cursor.execute(query)
result = cursor.fetchall()
print("Q5: What are the names and department of all employees who do not work in the Sales department?")
pprint(result)
print()

Q5: What are the names and department of all employees who do not work in the Sales department?
[('Jane Doe', 'Marketing'),
 ('Emily Wong', 'Engineering'),
 ('Alex Kim', 'Marketing'),
 ('Sarah Lee', 'Marketing'),
 ('Michael Chen', 'Engineering'),
 ('Brian Wu', 'Marketing')]

In [11]:
# Question 6: What are the names, salary, and hire date of all employees who make more than $60,000 and were hired before 01/01/2022?
query = "SELECT employee_name, salary, hire_date FROM employee WHERE salary > 60000 AND hire_date < '2022-01-01'"
cursor.execute(query)
result = cursor.fetchall()
print("Q6: What are the names, salary, and hire date of all employees who make more than $60,000 and were hired before 01/01/2022?")
pprint(result)
print()

Q6: What are the names, salary, and hire date of all employees who make more than $60,000 and were hired before 01/01/2022?
[('John Smith', 70000, '2018-01-01'),
 ('Jane Doe', 90000, '2019-03-15'),
 ('Bob Johnson', 75000, '2020-05-01'),
 ('Emily Wong', 80000, '2017-09-01'),
 ('Alex Kim', 95000, '2021-02-15'),
 ('Michael Chen', 90000, '2020-06-15'),
 ('David Lee', 78000, '2019-09-01'),
 ('Amanda Liu', 82000, '2021-03-01'),
 ('Brian Wu', 88000, '2018-08-01')]

In [12]:
# Question 7: What is the average salary of all employees?
query = "SELECT AVG(salary) FROM employee"
cursor.execute(query)
result = cursor.fetchall()
print("Q7: What is the average salary of all employees?")
pprint(result)
print()

Q7: What is the average salary of all employees?
[(Decimal('83300.0000'),)]

In [13]:
# Question 8: What is the highest salary among all employees?
query = "SELECT MAX(salary) FROM employee"
cursor.execute(query)
result = cursor.fetchall()
print("Q8: What is the highest salary among all employees?")
pprint(result)
print()

Q8: What is the highest salary among all employees?
[(95000,)]

In [14]:
# Question 9: What is the total salary of all employees in the Sales and Marketing department?
query = "SELECT SUM(salary) FROM employee E INNER JOIN department D ON E.department_id = D.department_id WHERE D.department_name IN ('Sales', 'Marketing')"
cursor.execute(query)
result = cursor.fetchall()
print("Q9: What is the total salary of all employees in the Sales and Marketing department?")
pprint(result)
print()

Q9: What is the total salary of all employees in the Sales and Marketing department?
[(Decimal('663000'),)]

In [15]:
# Question 10: How many employees have a salary greater than $80,000?
query = "SELECT COUNT(employee_name) FROM employee WHERE salary > 80000"
cursor.execute(query)
result = cursor.fetchall()
print("Q10: How many employees have a salary greater than $80,000?")
pprint(result)
print()

Q10: How many employees have a salary greater than $80,000?
[(6,)]

In [16]:
# Question 11: Find the names of all employees who work in the 'Sales' department.
query = "SELECT E.employee_name FROM employee E INNER JOIN department D ON E.department_id = D.department_id WHERE D.department_name = 'Sales'"
cursor.execute(query)
result = cursor.fetchall()
print("Q11: Find the names of all employees who work in the 'Sales' department.")
pprint(result)
print()

Q11: Find the names of all employees who work in the 'Sales' department.
[('John Smith',), ('Bob Johnson',), ('David Lee',), ('Amanda Liu',)]

In [17]:
# Question 12: Find the department name, hire date, and salary for employee with the ID of 3.
query = "SELECT D.department_name, E.hire_date, E.salary FROM employee E INNER JOIN department D ON E.department_id = D.department_id WHERE E.employee_id = 3"
cursor.execute(query)
result = cursor.fetchall()
print("Q12: Find the department name, hire date, and salary for employee with the ID of 3.")
pprint(result)
print()

Q12: Find the department name, hire date, and salary for employee with the ID of 3.
[('Sales', '2020-05-01', 75000)]

In [19]:
# Question 13: Find the department names and total number of employees in each department.
query = "SELECT D.department_name, COUNT(employee_name) AS employee_count FROM employee E INNER JOIN department D ON E.department_id = D.department_id GROUP BY D.department_name"
cursor.execute(query)
result = cursor.fetchall()
print("Q13: Find the department names and total number of employees in each department.")
pprint(result)
print()

Q13: Find the department names and total number of employees in each department.
[('Sales', 4), ('Marketing', 4), ('Engineering', 2)]

In [20]:
# Question 14: Find the average salary of all employees in the 'Marketing' department.
query = "SELECT AVG(E.salary) AS average_salary FROM employee E INNER JOIN department D on E.department_id = D.department_id WHERE D.department_name = 'Marketing'"
cursor.execute(query)
result = cursor.fetchall()
print("Q14: Find the average salary of all employees in the 'Marketing' department.")
pprint(result)
print()

Q14: Find the average salary of all employees in the 'Marketing' department.
[(Decimal('89500.0000'),)]

In [21]:
# Question 15: Find the names and hire dates of all employees who were hired in 2020 or later.
query = "SELECT E.employee_name, E.hire_date FROM employee E WHERE hire_date > '2019-31-12'"
cursor.execute(query)
result = cursor.fetchall()
print("Q15: Find the names and hire dates of all employees who were hired in 2020 or later.")
pprint(result)
print()

Q15: Find the names and hire dates of all employees who were hired in 2020 or later.
[('Bob Johnson', '2020-05-01'),
 ('Alex Kim', '2021-02-15'),
 ('Sarah Lee', '2022-01-01'),
 ('Michael Chen', '2020-06-15'),
 ('Amanda Liu', '2021-03-01')]

In [26]:
# Question 16: Find the employee name, job title, start date, and end date for all job changes.
query = "SELECT E.employee_name, J.job_title, JH.start_date, JH.end_date FROM employee E INNER JOIN job_history JH ON E.employee_id = JH.employee_id INNER JOIN job J ON J.job_id = JH.job_id WHERE JH.end_date != ''"
cursor.execute(query)
result = cursor.fetchall()
print("Q16: Find the employee name, job title, start date, and end date for all job changes.")
pprint(result)
print()

Q16: Find the employee name, job title, start date, and end date for all job changes.
[('John Smith', 'Marketing Manager', '2019-05-02', '2020-06-01'),
 ('John Smith', 'Salesperson', '2018-01-01', '2019-05-01')]

In [25]:
# Question 17: Find the department names and the highest salary for each department.
query = "SELECT D.department_name, MAX(E.salary) FROM employee E INNER JOIN department D ON E.department_id = D.department_id GROUP BY D.department_name"
cursor.execute(query)
result = cursor.fetchall()
print("Q17: Find the department names and the highest salary for each department.")
pprint(result)
print()

Q17: Find the department names and the highest salary for each department.
[('Sales', 82000), ('Marketing', 95000), ('Engineering', 90000)]

In [24]:
# Question 18: Find the total number of employees who have worked in the 'Engineering' department since 2019.
query = "SELECT E.employee_name, COUNT(E.employee_name) num_of_employees FROM employee E INNER JOIN department D ON E.department_id = D.department_id WHERE D.department_name = 'Engineering' AND E.hire_date > '2018-31-12' GROUP BY E.employee_name"
cursor.execute(query)
result = cursor.fetchall()
print("Q18: Find the total number of employees who have worked in the 'Engineering' department since 2019.")
pprint(result)
print()

Q18: Find the total number of employees who have worked in the 'Engineering' department since 2019.
[('Michael Chen', 1)]

In [23]:
# Question 19: Find the employee name, department name, and salary for all employees who earn more than their department average.
query = "SELECT E.employee_name, D.department_name, E.salary FROM employee E INNER JOIN department D on E.department_id = D.department_id INNER JOIN (SELECT department_id, AVG(salary) AS avg_salary FROM employee GROUP BY department_id) AS DA ON E.department_id = DA.department_id WHERE E.salary > DA.avg_salary"
cursor.execute(query)
result = cursor.fetchall()
print("Q19: Find the employee name, department name, and salary for all employees who earn more than their department average.")
pprint(result)
print()

Q19: Find the employee name, department name, and salary for all employees who earn more than their department average.
[('Jane Doe', 'Marketing', 90000),
 ('Alex Kim', 'Marketing', 95000),
 ('Michael Chen', 'Engineering', 90000),
 ('David Lee', 'Sales', 78000),
 ('Amanda Liu', 'Sales', 82000)]

In [22]:
# Question 20: Find the department names and the number of employees who have been in each department for more than 2 years.
query = "SELECT department.department_name, COUNT(*) AS num_employees FROM employee INNER JOIN department ON employee.department_id = department.department_id WHERE hire_date <= DATE_SUB(NOW(), INTERVAL 2 YEAR) GROUP BY department.department_name"
cursor.execute(query)
result = cursor.fetchall()
print("Q20: Find the department names and the number of employees who have been in each department for more than 2 years.")
pprint(result)
print()

Q20: Find the department names and the number of employees who have been in each department for more than 2 years.
[('Sales', 4), ('Marketing', 3), ('Engineering', 2)]